// Minimax 4.1.1
// Bootswatch


// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,700,700italic&subset=latin,latin-ext" !default;
@import url($web-font-path);

// Navbar ======================================================================

.navbar {
  font-size: $font-size-sm;
  text-transform: uppercase;
  font-weight: 300;

  &-nav {
    .nav-link {
      padding-top: .715rem;
      padding-bottom: .715rem;
    }
  }

  &-brand {
    margin-right: 2rem;
  }
}

.bg-primary {
  background-color: $gray-900 !important;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &.navbar-fixed-top {
    border-width: 0 0 1px 0;
  }

  &.navbar-bottom-top {
    border-width: 1px 0 0 0;
  }
}

.bg-light {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: $primary;

  &.navbar-fixed-top {
    border-width: 0 0 1px 0;
  }

  &.navbar-bottom-top {
    border-width: 1px 0 0 0;
  }
}

.nav-item {
  margin-right: 2rem;
}

// Buttons =====================================================================

.btn {
  font-size: $font-size-sm;
  //text-transform: uppercase;

  &-sm {
    font-size: 10px;
  }

  &-warning {
    &,
    &:hover,
    &:not([disabled]):not(.disabled):active,
    &:focus {
      color: $white;
    }
  }
}

.btn-outline-secondary {
  border-color: $gray-600;
  color: $gray-600;

  &:not([disabled]):not(.disabled):hover,
  &:not([disabled]):not(.disabled):focus,
  &:not([disabled]):not(.disabled):active {
    background-color: $gray-400;
    border-color: $gray-400;
    color: $white;
  }

  &:not([disabled]):not(.disabled):focus {
    box-shadow: 0 0 0 0.2rem rgba($gray-400, 0.5);
  }
}

[class*="btn-outline-"] {
  border-width: 2px;
}

.border-secondary {
  border: 1px solid $gray-400 !important;
}

// Typography ==================================================================

body {
  font-weight: 200;
  letter-spacing: 1px;
  background-color: $gray-900;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.text-secondary {
  color: $body-color !important;
}

// Tables ======================================================================

th {
  font-size: $font-size-sm;
  text-transform: uppercase;
}

.table {
  th, td {
    padding: 0.75rem;
  }
}

// Forms =======================================================================

.custom-control-label {
  &::before {
    top: 0;
    border: 2px solid $white;
  }
  &::after {
    top: 0;
  }

  .custom-control-input:checked ~ &::before {
    border-color: $white;
  }

}

.custom-checkbox .custom-control-input:checked {
  ~ .custom-control-label::before {
    background-color: $black;
  }

  ~ .custom-control-label::after {
    transform: scale(1.25);
    transition: 500ms;
  }
}

.custom-radio .custom-control-input {
  &:checked {
    ~ .custom-control-label::before {
      background-color: $black;
    }
    ~ .custom-control-label::after {
      transform: scale(1);
      transition: 500ms;
    }
  }
  & {
    ~ .custom-control-label::after {
      transform: scale(.75);
    }
  }
}

// Navs ========================================================================

.dropdown-menu {
  font-size: $font-size-sm;
  text-transform: none;
}

.nav-pills {
    color: $black;

    .nav-link.active {
        color: $black;
    }
}

.nav-pills .nav-link.active, .nav-pills .show .nav-link {
    color: $black;
}

// Indicators ==================================================================

// Progress bars ===============================================================

.progress-bar {
    background-color: $black;
}

// Pagination  =================================================================

.page-link {
    color: $black;
}

.page-link:hover {
    color: $black;
}

.page-item.active {
    .page-link {
        background-color: $gray-600;
        border-color: $gray-600;
    }
}

// Containers ==================================================================

.list-group-item {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
  }
}

.list-group-item-action {
    background-color: $gray-700;
        color: $gray-100;
}

.list-group-item {
    color: $gray-600;
}

.card {

  &-title,
  &-header {
    color: inherit;
  }
}

.jumbotron {
    background-color: $gray-700;
}

// Alerts ======================================================================

.alert {
    color: $black;
}

.alert-info {
    background-color: #ada8e0;
}
.alert-info .alert-link {
    color: $black;
}

.alert-success {
    background-color: #a8e0b4;
}
.alert-success .alert-link {
    color: $black;
}

.alert-warning {
    background-color: #e0d8a8;
}
.alert-warning .alert-link {
    color: $black;
}

.alert-danger {
    background-color: #e0a9a8;
}
.alert-danger .alert-link {
    color: $black;
}




